.btn{
    background-color: var(--color-bleu-medium);
    color: var(--color-white);
}

.btn-md{
    font-size: var(--font-medium-size);
}

.btn-sm{
    font-size: 8px;
}

.btn-border-xs{
    border-radius: 4px;
}

.btn-border-none{
    border-radius: 0px;
}